{
    "aws_account_var_name": "ENV",
    "aws_accounts_id_name_map": "prod=123456789012;dev=234567890123",
    "continent_var_name": "CONTINENT",
    "custom_prefix": "",
    "export_to_path": "/etc/aws-ec2-metadata.env",
    "refresh_time_seconds": 60
    "region_var_name": "REGION",
    "static_metadata_to_export": [
        "AWS_ACCOUNT_ID",
        "AWS_ACCOUNT_NAME",
        "AWS_AMI_ID",
        "AWS_INSTANCE_ID",
        "AWS_INSTANCE_PROFILE_NAME",
        "AWS_INSTANCE_TYPE",
        "AWS_PRIVATE_IPV4",
        "CLOUD",
        "CONTINENT",
        "REGION",
        "VCPU"
    ]
}
